* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    width: 100vw;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: flex-start;
}

.nav_left {
    width: 50%;
    height: 100%;
}

.logo_nav {
    display: flex;
    justify-content: flex-start;
}


h1 {
    font-family: impact;
    color: red;
    font-weight: 600;
    line-height: 100px;
    margin-left: 30px;
}

.nav_right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search_cmd {
    margin-right: 30px;
}





li {
    padding: 50px 50px;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid #000;
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    color:#000;
}

.container > * {
    /* margin: auto; */
    text-align: center;

}

/* .header {
    margin-top: 50px;
} */

.results {
    margin: 100px;
}

.flag {
    width: 60px;
    height: 60px;
}
